html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", Arial, serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}
/* header */
.nav_menu {
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 108px;
}
.nav_menu-list {
  vertical-align: middle;
  list-style: none;
  text-align: center;
}
.nav_menu-list li {
  display: inline-block;
  margin-right: 106px;
}
.nav_menu-list li:last-child {
  margin-right: 0;
}

.nav_menu-list a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}

.nav_menu-list a:hover,
.nav_menu-list a:focus {
  color: skyblue;
}

/* main */

.signature {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 17px;
  margin-bottom: 28px;
}

.wrapper h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 40px;
}

.wrapper article {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
}
.wrapper article:nth-child(2n) {
  margin-right: -4px;
}
.wrapper img {
  margin-bottom: 30px;
}
.wrapper article:nth-child(1),
article:nth-child(2) {
  margin-bottom: 134px;
}
.wrapper article:nth-child(3),
article:nth-child(4) {
  margin-bottom: 140px;
}

button {
  width: 164px;
  height: 60px;
  font-family: "Playfair Display", Arial, serif;
  font-size: 20px;
  color: #626262;
  background-color: #fff;
  cursor: pointer;
  display: block;
  margin: 56px auto 70px;
}