@media screen and (max-width: 747px) {
  .partners_find p {
    width: 68%;
    margin: 0 auto 19px;
  }
  .partner_cards_list_item:not(:last-child) {
    margin-bottom: 24px;
  }
  .partner_cards_list_item:nth-child(2),
  .partner_cards_list_item:nth-child(4) {
    order: 1;
  }
}

@media screen and (min-width: 748px) {
  .container {
    width: 748px;
  }
  .logo {
    display: inline-block;
  }
  .banner_logo {
    display: none;
  }
  .user_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page_header {
    padding-top: 38px;
  }
  .banner {
    height: 700px;
    margin-bottom: 32px;
  }
  .partners_find h2 {
    font-size: 5.2rem;
    line-height: 6.24rem;
    padding-top: 224px;
    width: 65%;
    margin: 0 auto 35px;
  }
  .partners_find p {
    font-size: 2.4rem;
    line-height: 2.88rem;
    margin-bottom: 32px;
  }
  /* PARTNER_CARDS */
  .partner_cards_list {
    justify-content: space-between;
  }
  .partner_cards h2 {
    margin-bottom: 32px;
  }
  .partner_cards a {
    margin: 40px auto;
  }
}

@media screen and (min-width: 748px) and (max-width: 939px) {
  .page_header h1 {
    margin-left: 40px;
  }
  .user_form_button {
    margin-right: 40px;
  }
  .partner_cards_list {
    max-width: 492px;
    margin: 0 auto;
  }
  .partner_cards_list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 940px) {
  .container {
    width: 940px;
  }
  .banner {
    margin-bottom: 70px;
  }
  /* PARTNER_CARDS */
  .partner_cards a {
    margin-bottom: 72px;
  }
}
