.banner {
  height: 1000px;
  background: $main-linear-gradient, url('../images/banner.jpg');
  background-position: center;
  background-size: cover;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: $main-linear-gradient, url('../images/banner@2x.jpg');
    background-position: center;
    background-size: cover;
  }
}

.banner__title {
  width: 70%;
  margin: 0 auto 126px;
  text-align: center;
  padding-top: 155px;
  color: $main-white-color;
  @include font-settings($main-font-size * 10, 140px);
  text-transform: uppercase;
}

.banner__title span {
  font-family: $up-title-font;
  text-transform: none;
  font-size: 72px;
}

.banner__button {
  @extend %link;
  width: 154px;
  height: 34px;
  @include font-settings(14px, 30px);
  margin: 0 auto;
  border: 3px solid $main-white-color;
  text-transform: uppercase;
  color: $main-white-color;
  font-family: $secondary-font;
  font-weight: 700;
}
