.footer {
  @include center-flex('ver_between');
  min-height: 62px;
  border-top: 1px solid $footer-border-color;
}

.footer__license {
  display: flex;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  color: $footer-text-color;
}

.footer__subscribe {
  display: flex;
}

.footer__link-author {
  color: #f38181;
}

.footer__input {
  color: $main-font-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: $main-font-size;
  min-width: 228px;
  min-height: 38px;
  border: 1px solid $footer-input-color;
  border-right-style: none;
  padding: 0 12px;
  
  &::placeholder {
    color: $footer-input-color;
    font-family: $main-font;
    font-weight: 300;
    font-size: $main-font-size;
    font-style: italic;
  }
}

.footer__button {
  @extend %btn;
  background-color: $secondary-designer-color;
  color: $main-white-color;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 14px;
  border: none;
  min-width: 150px;
  min-height: 38px;
}