.nav__list {
  @extend %list;
  @include center-flex('ver_between');
}

.nav__link {
  @extend %link;
  text-transform: uppercase;
  font-size: 14px;
  color: $main-white-color;
  font-family: $secondary-font;
  transition: color 0.2s linear;

  &::after {
    position: relative;
    transform: translateY(12px);
    content: '';
    display: block;
    height: 3px;
    background: $main-hover-color;
    visibility: hidden;
    transition: visibility 0.2s linear;
  }

  &:hover::after {
    visibility: visible;
  }

  &:hover,
  &:focus {
    color: $main-hover-color;
  }
}

.nav__item {
  line-height: 14px;

  &:not(:last-child) {
    margin-right: 55px;
  }
}