.team-social {
  @include center-flex('hor');
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team-social__link {
  @include center-flex('all');
  width: 56px;
  height: 56px;
  margin-right: 1px;
  background: $main-hover-color;
  transition: background 0.3s linear;

  &:hover {
    background: $secondary-hover-color;

    & .team-social__svg {
      fill: $main-white-color;
    }
  }
}

.team-social__svg {
  width: 26px;
  height: 26px;
  fill: $secondary-hover-color;
  transition: fill 0.3s linear;
}