.team-item {
  flex-basis: 380px;
  margin: 0;
}

.team-item__img {
  position: relative;
  margin-bottom: 30px;
  transition: box-shadow 0.3s linear, transform 0.3s linear;

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px $secondary-designer-color;

    & .team-item__overlay {
      visibility: visible;
    }
  }
}

.team-item__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $main-linear-gradient;
  visibility: hidden;
  transition: visibility 0.3s linear;
}