.team-caption__name {
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  color: $title-color;
  text-align: center;
  margin: 0 0 16px;
}

.team-caption__proffesion {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 0;
}
