$main-font: 'Roboto', 'Arial', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$up-title-font: 'Kaushan Script', cursive;

$main-font-size: 15px;

$main-font-color: #999999;
$main-white-color: #ffffff;
$secondary-designer-color: #95e1d3;
$title-color: #333333;

$main-hover-color: #fce38a;
$secondary-hover-color: #f38181;

$footer-border-color: #e5e5e5;
$footer-input-color: #cccccc;
$footer-text-color: #333333;
$footer-link-color: #f38181;

$main-linear-gradient: linear-gradient(
  0deg,
  rgba(252, 227, 138, 0.7),
  rgba(243, 129, 129, 0.7)
);